/*
.balise
#id
em -> Important
*/

*
{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body
{
  background:radial-gradient(ellipse at center, rgb(88, 115, 189), rgb(11, 20, 73));
  background-size: 100% 800%;
  background-repeat: no-repeat;
  margin: 1%;
  margin-bottom: 0px;
}

header
{
  min-height: 204px;
  text-align: center;
}

a
{
  text-decoration: none;
}

.menu a:hover, .menu a:focus, .menu a:active
{
  background: rgba(54, 54, 54, 0.479);
  border-radius: 30% 0;
  color: white ;
}
.menu a
{
  color:blanchedalmond;
}

h1 a
{
  color: white;
  font-size: 2em;
}

#photo_identite /* Taille : 204 x 204 px */
{
  float: left;
}

#menu_1
{
  margin-left: 140px;
  margin-top: 32px;
  margin-bottom: 5px;
  list-style: none;
}

#menu_2
{
  margin-left: 140px;
  margin-top: 5px;
  margin-bottom: 30px;
  list-style: none;
}
.item_menu
{
  display: inline-block;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.item_list
{
  display: inline-block;
  background-color: rgba(128, 128, 128, 0.568);
  height: 46px;
  min-width: 278px;
  width: 27%;
  padding: 4px;
  border: 2px solid rgb(211, 211, 211);
  border-radius: 30% 0;
  font-size: 1.25em;
  margin : 0px;
  margin-top: 5px;
}

header img
{
  border-radius: 50%;
}

.block_projet
{
  height: 200px;
  width: 99%;
  color: white;
  background-color: rgba(0, 0, 0, 0.438);
  opacity: 1;
  border-radius: 20px;
  border: 4px solid rgba(80, 80, 80, 0.664);
  padding: 5px;
  margin-top: 15px;
}

footer
{
  position:relative;
  display: inline-block;
  bottom: 0;
  background-color: rgba(32, 32, 32, 0.829);
  height: 80px;
  width: 102%;
  margin: 0px;
  margin-left: -1%;
  margin-top: 5px;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
}

footer a
{
  position:relative;
  top: 15px;
  margin-left:15px;
  margin-right: 15px;
}